@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.list {
  @include page-grid;

  grid-column: 1 / -1;
  row-gap: 40px;
}

.filters {
  grid-column: 1 / -1;
  display: flex;
  gap: 40px;
}